/dist/index.cjs
/dist/index.cjs.map
/dist/index.d.cts
/dist/index.d.ts
/dist/index.js
/dist/index.js.map
/dist/index.umd.js
/dist/index.umd.js.map
/dist/internals/helpers.d.cts
/dist/internals/helpers.d.ts
/dist/internals/symbols.d.cts
/dist/internals/symbols.d.ts
/dist/is-matching.d.cts
/dist/is-matching.d.ts
/dist/match.d.cts
/dist/match.d.ts
/dist/patterns.d.cts
/dist/patterns.d.ts
/dist/types/BuildMany.d.cts
/dist/types/BuildMany.d.ts
/dist/types/DeepExclude.d.cts
/dist/types/DeepExclude.d.ts
/dist/types/DistributeUnions.d.cts
/dist/types/DistributeUnions.d.ts
/dist/types/ExtractPreciseValue.d.cts
/dist/types/ExtractPreciseValue.d.ts
/dist/types/FindSelected.d.cts
/dist/types/FindSelected.d.ts
/dist/types/InvertPattern.d.cts
/dist/types/InvertPattern.d.ts
/dist/types/IsMatching.d.cts
/dist/types/IsMatching.d.ts
/dist/types/Match.d.cts
/dist/types/Match.d.ts
/dist/types/Pattern.d.cts
/dist/types/Pattern.d.ts
/dist/types/helpers.d.cts
/dist/types/helpers.d.ts
/node_modules
