/dist/index.cjs
/dist/index.cjs.map
/dist/index.d.ts
/dist/index.modern.js
/dist/index.modern.js.map
/dist/index.module.js
/dist/index.module.js.map
/dist/index.umd.js
/dist/index.umd.js.map
/dist/internals/helpers.d.ts
/dist/internals/symbols.d.ts
/dist/is-matching.d.ts
/dist/match.d.ts
/dist/patterns.d.ts
/dist/types/BuildMany.d.ts
/dist/types/DeepExclude.d.ts
/dist/types/DistributeUnions.d.ts
/dist/types/ExtractPreciseValue.d.ts
/dist/types/FindSelected.d.ts
/dist/types/InvertPattern.d.ts
/dist/types/IsMatching.d.ts
/dist/types/Match.d.ts
/dist/types/Pattern.d.ts
/dist/types/helpers.d.ts
/node_modules
